body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
    background-color: rgb(254, 248, 241);
}
#choices{
    display: flex;
    gap: 10px;
}

#choices button{
    font-size: 50px;
    border-radius: 60px;
    border: none;
    background-color: lightskyblue;
    padding: 20px;
}

.choice:hover{
    background-color: rgb(113, 175, 213);
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

#reset{
    background-color: rgb(255, 212, 212);
    border: 2px dashed rgb(170, 19, 19);
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
    color: rgb(170, 19, 19);
}